/* #region Common */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Lato", sans-serif;
}

img
{
    width: 100%;
    object-fit: cover;
}

/* #endregion Common */


/* #region Debug */
.debug #main_app
{
    background-color: palegreen;
    height: 1000px;
    margin-top: 3em;
}

.debug .enemy_list
{
    height: 1000px;
    width: 500px;
}

.debug .chat
{
    height: 1000px;
    width: 900px;
}

.debug .col
{
    background-color: palegoldenrod;
    height: 100px;
    width: 100%;
}

.debug .chat_header
{
    background-color: palegreen;
    height: 100px;
    width: 100%;
}

.debug .chat_main
{
    background-color: papayawhip;
    height: 800px;
    width: 100%;
}

.debug .chat_footer
{
    background-color: palegreen;
    height: 100px;
    width: 100%;
}

.debug .mine_message
{
    background-color: green;
    /* height: 200px; */
    /* width: 400px; */
}

.debug .enemy_message
{
    background-color: grey;
    /* height: 200px; */
    /* width: 400px; */
}
/* #endregion Debug */


/* #region Utilities */

:root
{
    --zap-backgreen: #009688FF;
    --zap-backgrey: #dcdbd3FF;
    --zap-notify: #8edafcFF;
    --zap-primarygrey: #eaeaeaFF;
    --zap-secondarygrey: #b1b1b1FF;
    --zap-darker: #000000FF;
    --zap-lighter: #ffffffFF;
    --zap-mymessage: #d5f9baFF;
}

.container
{
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

.dflex
{
    display: flex;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.col_12
{
    width: calc((100% / 12) * 12 - 1rem);
}

.col_8
{
    width: calc((100% / 12) * 8 - 1rem);
}

.col_6
{
    width: calc((100% / 12) * 6 - 1rem);
}

.col_4
{
    width: calc((100% / 12) * 4 - 1rem);
}

.col_3
{
    width: calc((100% / 12) * 3 - 1rem);
}

.col_2
{
    width: calc((100% / 12) * 2 - 1rem);
}

.col_1
{
    width: calc((100% / 12) * 1 - 1rem);
}

/* #endregion Utilities */


/* #region LeftApp */

/* #endregion LeftApp */


/* #region RightApp */

.enemy_list
{
    flex-basis: 40%;
}

.chat
{
    flex-basis: 60%;
}

.chat_main
{
    flex-direction: column;
}

.mine_message
{
    
    align-self: flex-end;
    border-radius: 20px;
    width: 50%;
    padding: 1em;
    & > p
    {
        /* display: block; */
          
    }
}

.enemy_message
{
    border-radius: 20px;
    padding: 1em;
    width: 50%;
    align-self: flex-start;
    
}


/* #endregion RightApp */


/* #region MediaQuery */
@media screen and (max-width:1200px)
{

}

@media screen and (max-width:992px)
{

}

@media screen and (max-width:768px)
{
    
}

/* #endregion MediaQuery */
